/*Fonts*/

@font-face{
	font-family: "Roboto";
	src: url("../fonts/roboto.woff2") format("woff2"),
	url("../fonts/roboto.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	}

@font-face{
	font-family: "Robotobold";
	src: url("../fonts/robotobold.woff2") format("woff2"),
	url("../fonts/robotobold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	}

@font-face{
	font-family: "Robotomedium";
	src: url("../fonts/robotomedium.woff2") format("woff2"),
	url("../fonts/robotomedium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	}


/* Variables */

 :root{
 	--basic-dark: #000000;
 	  --basic-black: #283136;
 	  --basic-white: #FFFFFF;
 	  --basic-grey: #444444;
 	  --basic-extra-grey: #4D4D4D;
 	  --basic-red: #FB565A;
 	  --basic-green:#00CA74;
 	  --basic-yellow:#EFC849;
 	  --special:#EEEEEE;
 }

 /* Global */
.page{
  height: 100%;
}
 .page-body{
   min-height: 100%;
   display: grid;
   grid-template-rows: min-content 1fr min-content ;
   align-content: start;
 	font-family: "Roboto", Arial, sans-serif ;
 	font-weight: 400;
 	font-style: normal;
 	font-size: 16px;
 	line-height: 24px;

   color: var(--basic-black);
   background-position: top center;
   background-repeat: no-repeat;
 	 }

.container{
  width: 1160px;
    padding: 0 10px;
  margin: 0 auto;
  }
 img{
 	max-width: 	100%;
 	height: 	auto;
 }
 a{
   vertical-align: middle;
   text-align: center;
  	text-decoration: none;

 	 }
 li{
   list-style: none;
 }

 h1,
 h2{
 	display: none;
 }
 .btn{
 	font-family: "Robotomedium", Arial, sans-serif ;
 	font-style: normal;
 	font-size: 16px;
 	line-height: 18px;
 	color: var(--basic-white);
	background-color: var(--basic-red);
	text-transform: uppercase;
	width: 160px;
	height: 50px;
	border-radius: 3px;
 }
 .btn:hover{
background-color: #E74246;
 }
 .btn:active{
 	background-color: #D7373B;
 }


 .main-nav-wrapper{
   width: 100%;
   background-color: var(--special);
 }
 /* main-nav*/

 .main-nav-wrapper .container{
   display: flex;
   justify-content: space-between;
   align-items: center;

    }
 .main-logo{
   align-self: flex-start;
   margin: 0;
   padding: 0 ;
 }

.nav-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  list-style: none;
  margin:0;
  padding: 0;
 }

 .nav-item{
  padding-right: 45px
 }

 .nav-list a{
  font-family: "Robotobold", Arial, sans-serif ;
 	font-size: 16px;
 	line-height: 30px;
 	color: var(--basic-dark);
 	text-decoration: none;
  }
  .nav-list a:visited{
  text-decoration: underline;
  }

  .nav-list a:hover{
  	color: var(--basic-red);
  }
  .nav-list a:active{
  	color: var(--basic-dark);
  opacity: 0.3;
  }
.icon-cart{

  max-width: 150px;
  min-height: 30px;
  text-align: right;
    }

 .item-cart{
  padding-left: 50px;
    font-size: 16px;
 	  line-height: 30px;
 	  color: var(--basic-dark);
    font-family: "Robotobold", Arial, sans-serif;
    text-decoration: none;
    position: relative;
     }
.item-cart::before{
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  left:-25px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  }

 /* slider*/
.main-slider-wrapper{
  width: 100%;
  margin: 0 ;
  padding: 0;
  background-color: var(--special);
}
.slider-list{
  margin: 0;
  padding: 0;
}

.slider-list .slide1{
  position: relative;
  width: 1160px;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  min-height: 431px;
}

.slide1-img{
  position: absolute;
  width: 760px;
  height: 431px;
  margin-right: 0;
  right: 0;
}
.slide-radio{
  width: 90px;
  position: absolute;
  bottom: -120px;
  left: -580px;
}
 .slide1 h3{
font-size: 55px;
line-height: 55px;
font-family: "Robotomedium", Arial, sans-serif;
color: var(--basic-dark);
 }
 .slide1-info a{
   display: flex;
   width: 240px;
   height: 50px;
   background-color: var(--basic-red);
   justify-content: center;
   align-items: center;
  color: var(--basic-white);
   border-radius: 3px;
 }
 .slide1-info a:hover{
   background-color: #E74246;
 }
 .slide1-info a:active{
   background-color: #D7373B;
 }
/* Надо будет скрыть другим способом   */
 .slider-list .slide2,
 .slide3{
  display: none;
 }


/* services*/
.services{
  width: 100%;
  margin: 0;
  padding: 0;
}
.services-list {
     display: flex;
    flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin:0;
  padding: 0;
  align-content: center;
  padding-top: 80px;

  }


.services-web,
.services-app,
.services-presentation
{
  width: 300px;
  min-height: 350px;
  margin-right: 100px;
  position: relative;
  }


.service-list li:nth-child(n3){
  margin-right: 0;

}
.services-list a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: var(--basic-white);
  font-family: "Robotomedium",Arial,sans-serif;
  font-size: 16px;
  line-height: 18px;
  width: 160px;
  height: 50px;
  background-color: red;
}



.services h3{

	font-family: "Robotobold", Arial, sans-serif;
	color: var(--basic-dark);
	font-size: 24px;
	line-height: 30px;
}

.services-web a{
    background-color: #FB565A;
}

.services-web a:hover{
  background-color: #E74246 ;
}
.services-web a:active{
  background-color: #D7373B;
}

.services-app a{
	background-color: #00CA74;
}
.services-app a:hover{
	background-color: #00BC6C;
}
.services-app a:active{
	background-color: #00AA62;
}
.services-presentetion a{
	background-color: #EFC84A;
}
.services-presentetion a:hover{
	background-color: #EAB534;
}
.services-presentetion a:active{
	background-color: #E5A722;
}



/* Advantages*/

.advantages{
  width: 1160px;
  display: flex;
  flex-direction: row;
  align-content: center;
  margin: 0 ;
  padding: 0;
  margin-bottom: 73px;
 }
.advantages-info{
  align-self: start;
  margin-left: 0;
  margin-top: 155px;
  margin-right: 150px;

}
.advantages-statistick{
  align-self: end;
  margin-right: 0;
  margin-top: 121px;
}


.advantages-info h3{
	font-family: "Robotomedium", Arial, sans-serif;
	color: var(--basic-dark);
	font-size: 45px;
	line-height: 45px;
}
.advantages-info strong{
	font-family: "Robotobold", Arial, sans-serif;
	text-transform: uppercase;
}



.info-list li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  transform-origin: center;
  transform: translate(-40px, 12px);
}


.table .caption{
	font-family: "Robotobold", Arial, sans-serif;

	color: var(--basic-dark);
	text-transform: uppercase;
  text-align: right;

}
thead td{
  text-align: center;
	font-family: "Robotobold", Arial, sans-serif;
	color: var(--basic-dark);
	font-size: 45px;
	line-height: 64px;
	}
tbody td{
  padding-right: 0;
	color: var(--basic-black);
	font-size: 16px;
	line-height: 18px;
}
.advantages::after{
  content: "";
  position: absolute;
  width: 1158px;
  height: 2px;
  background-image: url("../img/Rectangle16.svg");
  margin-top: 80px;
}

/*Sites*/
.sites{
  position: relative;
  min-height: 184px;
  width: 1160px;
  margin-bottom: 80px;
}


.sites-list{
   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  align-content: center;
    min-height: 184px;
  width: 1160px;
  margin: 0;
  padding: 0;

}

.sites-list::before{
  content: "";
  position: absolute;
  width: 1158px;
  height: 2px;
  background-image: url("../img/Rectangle16.svg");
  top: 0;

}
.sites-list::after{
  content: "";
  position: absolute;
  width: 1158px;
  height: 2px;
  bottom:0;
  background-image: url("../img/Rectangle16.svg");

}


/* Footer*/
.footer{

}
.location{
  display: block;
  width: 100%;
  height: 416px;
  background-color: yellow;

}
.contacts{
  display: block;
  position: absolute;
  width: 319px;
  min-height: 308px;
  background-color: var(--basic-white);
  margin-top:54px;

}

.main-footer{
  display: flex;
  justify-content: space-between;
  width: 1060px;
  min-height:81px;
  margin-top: 75px;
}

.social-list{
display: flex;
justify-content: flex-start;
align-items: center;
margin:0;
padding: 0;
}

.social-info{
  align-self: flex-end;
  margin: 0;
  padding: 0;
  min-width: 660px;
  max-height: 81px;
  margin-left: 139px;
  margin-right: 98px;
}

.social-info h3{
  margin: 0;
	font-family: "Robotobold", Arial, sans-serif;
	color: var(--basic-dark);
	font-size: 36px;
	line-height: 36px;
  margin-bottom: 10px;

}
.social-info p{
  margin:0;
	color: #666666;
	font-size: 16px;
	line-height: 22px;

}


.social-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 9px;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: #E1E1E1;
 }
 .social-list li:hover{
background-color: #E74246;
 }
 .social-list li:active{
 	background-color: #D7373B;
 }

  /* Modal*/
.info-send{
  max-width: 960px;
  max-height: 590px;
  font-family: "Robotobold", Arial, sans-serif;
  font-size: 45px;,Arial,sans-serif
  line-height: 52px;
}
.modal-form{
  max-width: 760px;
  max-height: 256px;
  font-family: "Robotobold", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
}
.modal-form .user{
    font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-grey);
}



/* CATALOG*/


.heading h3{
  font-family: "Robotomedium", Arial, sans-serif;
  text-align: center;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-dark);
  width:  1440px ;
  height: 240px;
margin: 0 auto;
 vertical-align: middle;
}


/*    Grid*/

.main-grid-catalog{
  display: grid;
  grid-template-columns: 260px 1fr 1fr;

}
.filter{
  grid-column: 1;
  grid-row: 1/-1;
  font-size: 16px;
  line-height: 19px;
  }
.filter-name{
  font-family: "Robotobold",Arial,sans-serif;
 font-size: 18px;
  line-height: 30px;

}

.sorting{
  width: 760px ;
  grid-column: 2/3;
  grid-row: 1/-1;
  padding-left: 60px;
}






/*Navigation*/

.layout-price h3{
	text-transform: uppercase;
	font-family: "Robotobold",Arial,sans-serif;
	font-size: 18px;
	line-height: 30px;
	color: var(--basic-dark);
}

.filter-info{
	font-family: "Roboto",Arial,sans-serif;
	font-size: 16px;
	line-height: 19px;
	color: var(--basic-black);
}


.layout-price{
width: 360px;
height: 231px;
font-family: "Roboto",Arial,sans-serif;
text-align: center;
font-size: 16px;
line-height: 18px;
color: #666666;
background-color: #EEEEEE;
 }

 .btn-layout{
 	width: 200px;
 	height: 50px;
 	}
 .btn-next{
 	width: 260px;
 	height: 50px;
 	 	border:none;
 	color:var(--basic-dark);
 	background-color: var(--special);
 }
 .layout-number a{
color: #000 !important;
text-align: center;
font-family: "Robotomedium",Arial,sans-serif;
background-color: var(--special);
width: 50px;
height: 50px;
font-size: 16px;
line-height: 18px;

 }

